*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  transition: transform .3s;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(to bottom right, #D5C2FA, #9AC4FA);
}